<!DOCTYPE html>
<html>
<head>
 <title>SERPENTONE</title>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0 ">
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Anton|Amatic+SC|Special+Elite|Playfair+Display+SC:400,700|Oranienbaum|Radley|Alegreya+SC:400,700|Kranky|Cantora+One|Griffy|Fondamento|Vesper+Libre:400,500|Ramaraja' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="application.js"></script>
</head>
<body>


</body>
</html>
