.col3{
  height: 1px;
	width: 17%;
	float:left;
}
.col2{
	width: 66%;
	float:left;
}
header{
	font-size: 22px;
	color: #283975;
	font-family: 'Alegreya SC', sans-serif;
	background-color: #E1E7FC;
  line-height: 2.5;
}
.header-nav a:hover{
  color:#000;
}
header:after{
	display: block;
	clear: both;
	content: "";
}
a {
	text-decoration: none;
  color: dodgerblue;
}
a img{
  max-width: 100%;
  max-height: 50%;
  text-align: center;
}
ul{
	text-align: center;
}
.header-nav{
	margin: 0;
  padding: 0;
}
li{
	display: inline;
	margin: 55px;
}
body{
	background-color: #283975;
	color: dodgerblue;
	font-family: 'Playfair Display SC', serif;
  font-size: 1em;
  line-height: 3.1em;
	border: 0;
	padding: 0;
	margin: 0;
}
h2{
	color: #DCE2F7;
	text-align: center;
	font-size: 4.8em;
}
img.spk{
	min-width:12%;
  max-width: 100%;
	display: block;
  margin: 3% auto 5%;
}
pre{
	font-family: 'Alegreya SC', serif;
	font-weight: 700;
	text-align: center;
	font-size: 108px;
	margin: 15px 5px 5px 5px;
  letter-spacing: 12px;
  line-height: 1;
/*	opacity: 0;*/
}
h3{
	text-align: center;
	font-size: 1.7em;
	margin: 5px;
}
h4{
	text-align: left;
	font-size: 1.25em;
}
footer{
  margin: 3% auto;
  width:50%;

}
.screens{
  max-width: 100%
}
.screens a img{
  width: 33%;
}
.feet{
	float: left;
	display: inline;
	text-align: center;
	margin: auto;
	padding-top: 60px;
	width: 33%;
}
iframe{
	/*visibility:hidden;*/
	display: none;
}
.done span{
	color: dodgerblue;
}
.bio{
	transition: color 1s ease;
	color: white;
  font-size: 1.3em;
}
.bio:hover {
  color: dodgerblue;
}
.trans {
	opacity: 0;
}
.links{
  margin: 6% 10%;
  font-size: 1.5em;
}
#burn-a{
 top: -300px;
}
#burn-g{
	margin-bottom: 5%;
}


@media (max-width: 910px) and (min-width: 381px) {
 pre{
 	font-size: 2.5em;
 }
 li{
 	margin: 25px;
 }

}

@media (max-width: 380px) {
 pre{
 	font-size: 2em;
 }
 li{
 	margin: 10px;
 }
 h2{
 	font-size: 2em;
 }
 h3{
 	font-size: 1em;
 }
 h4{
 	font-size: 1em;
 }
 .col2{
 	width: 100%;
 	float:none;
 }
 .col3{
  width: 9%;
 }
 img.spk{
 	width: 44%;
  height:160px;
 }
 .bio{
  font-size: 1em;
 }
 body{
  line-height: 1.6;
 }
 .links{
  margin: 5% 5%;
  font-size: 1em;
  }
  header{
    font-size: 16px;
  }
}








